
/*Font style*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
    background-repeat: no-repeat;
}


/*About profile bar*/
.profile_bar{

    width: 22%;
    height: auto;
    margin-right: 0.5%;
    background-color: rgb(0, 0, 0,0.3);
    color: #fff;
    backdrop-filter: blur(5px);
    text-align: center;

}
.img_profile{
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    justify-content: center;
    position: relative;
    border-radius: 100%;
}
#img_profile_content{
    
    max-width: 20vw;
    max-height: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    border-radius: 100%;

    /* border: 3px solid #02ECFF;*/
    box-shadow: 0px 0px 5px 3px  #FF6B03;
    display:flex;
    justify-content: center;
}
/* Text profile bar*/
.name_profile{
    font-weight: 400;
    color: #02ECFF;
    font-size: 2em;
}
.qualifications_profile{
    font-weight: 100;
    font-size: 2vh;
    max-width: 90%;
    margin: auto;
}
.residence_profile{
    display: flex;
    max-width: 90%;
    /*flex-wrap: wrap;
    flex: 1 0 auto;*/
    justify-content: center;
    text-align: center;
    position: relative;
}
.age_profile, .degree_profile{
    display: flex;
    max-width: 90%;
    /*flex-wrap: wrap;
    flex: 1 0 auto;*/
    justify-content: center;
    text-align: center;
    position: relative;
}
.degree_profile{
    justify-content: justify;
}
.res_1{
justify-content: left;
margin-right: auto;
margin-left: auto;
font-weight: 300;
}
.res_2{
    justify-content: right;
    margin-left: auto;
    margin-right: auto;
}
.language_title_profile{
    font-size: 2.5vh;
    font-weight: 300;
}
.line_blue{
    height: 1px;
    background-color: #02ECFF;
    margin-left: 5%;
    margin-right: 5%;
}
.line_orange{
    height: 1px;
    background-color: #FF6B03;
    margin-left: 5%;
    margin-right: 5%;
}
/*About home*/
.home{
    width: 78%;
    height: 100px;
    position: right;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

/*About all group div*/
.group_div{
    display: flex;
    margin: 0.5%;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}


/*Customization to all elements*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: 'Inter',sans-serif ;*/
}

/*Progress Degree Bar*/

.progress_degree_bar_blue{
    background-color: #02ECFF;
    height: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.progress_degree_bar_orange{
    background-color: #FF6B03;
    height: 5px;
    margin-left: 5%;
    margin-right: 79%;
}

/* About progress bar style*/
.container_progress_bar{
    display: flex;
    justify-content: center;
    position:relative;
    min-height: 10vh;
    flex-wrap: wrap;
    gap: 25px;
    background: transparent;
}

.container_progress_bar .progress_bar{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(to right, transparent 50%, var(--clr)0);
}
.container_progress_bar .progress_bar h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
    z-index: 1;
    font-weight: 500;
}
.container_progress_bar .progress_bar h4{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}
.container_progress_bar .progress_bar::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.container_progress_bar .progress_bar::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #080B14;
}
.container_progress_bar .progress_bar::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

/* if value is less than 50%, then*/
.container_progress_bar .progress_bar.less::before{
    background: #000;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}